.hero-pg {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  img {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 0;
  }

  .sub-hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(65, 100, 74, 0.5);
    height: 100vh;
    width: 100%;
  }
}
