<div class="hero-pg">
  <img src="assets/rust-header.jpg" alt="rust-img">
  <div class="sub-hero">
    <div class="section-membership">
      <div class="membership" id="bronze">
        <img src="assets/bronze.png" alt="Bronze Icon">
        <ul>
          <li><i class="fa-solid fa-check"></i> Chat Tag [Bronze]</li>
          <li><i class="fa-solid fa-check"></i> 2 Backpacks</li>
          <li><i class="fa-solid fa-check"></i> Bypass Que (Join Without Waiting)</li>
          <li><i class="fa-solid fa-check"></i> 10 Teleports a Day</li>
          <li><i class="fa-solid fa-check"></i> 2 Homes Available</li>
          <li><i class="fa-solid fa-check"></i> Remover Tool</li>
        </ul>
        <hr>
        <p>€ 2</p>
        <button class="btn btn-bronze">Buy Now</button>
      </div>
      <div class="membership" id="silver">
        <img src="assets/silver.png" alt="Silver Icon">
        <ul>
          <li><i class="fa-solid fa-check"></i> Chat Tag [Silver]</li>
          <li><i class="fa-solid fa-check"></i> 5 Backpacks</li>
          <li><i class="fa-solid fa-check"></i> Bypass Que (Join Without Waiting)</li>
          <li><i class="fa-solid fa-check"></i> 20 Teleports a Day</li>
          <li><i class="fa-solid fa-check"></i> 3 Homes Available</li>
          <li><i class="fa-solid fa-check"></i> Remover Tool</li>
        </ul>
        <hr>
        <p>€ 5</p>
        <button class="btn btn-silver">Buy Now</button>
      </div>
      <div class="membership" id="gold">
        <img src="assets/gold-membership.png" alt="Gold Icon">
        <ul>
          <li><i class="fa-solid fa-check"></i> Chat Tag [Gold]</li>
          <li><i class="fa-solid fa-check"></i> 10 Backpacks</li>
          <li><i class="fa-solid fa-check"></i> Bypass Que (Join Without Waiting)</li>
          <li><i class="fa-solid fa-check"></i> Unlimited Teleports</li>
          <li><i class="fa-solid fa-check"></i> Unlimited Homes</li>
          <li><i class="fa-solid fa-check"></i> Remover Tool</li>
        </ul>
        <hr>
        <p>€ 10</p>
        <button class="btn btn-gold">Buy Now</button>
      </div>
    </div>
  </div>
</div>

