<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap" rel="stylesheet">

<div class="hero-pg">
  <img src="assets/rust-header.jpg" alt="rust-img">
  <div class="sub-hero">
    <div class="section-info">
      <div class="server-info">
        <h2>MzM [EU/TR] PvE Server</h2>
        <p>Lorem ipsum dolor sit amet, at nibh equidem vim, eum at ornatus maluisset intellegam. Inermis nominavi vix
          te,
          mea nulla quaerendum instructior ut.
          Cu has novum doctus aperiri, latine integre labores sed et, id novum democritum nec. Vis alia epicuri an,
          dicit
          iracundia te mel. Ei dicunt nusquam pericula pro.
        </p>
      </div>
      <div class="server-rules">
        <h2>Server Rules</h2>
        <ul>
          <li>Lorem ipsum dolor sit amet, at nibh equidem vim, eum at ornatus maluisset intellegam. Inermis nominavi vix
            te, mea nulla quaerendum instructior ut.
            Cu has novum doctus aperiri, latine integre labores sed et, id novum democritum nec. Vis alia epicuri an,
            dicit iracundia te mel. Ei dicunt nusquam pericula pro.
          </li>
          <li>Lorem ipsum dolor sit amet, at nibh equidem vim, eum at ornatus maluisset intellegam. Inermis nominavi vix
            te, mea nulla quaerendum instructior ut.
            Cu has novum doctus aperiri, latine integre labores sed et, id novum democritum nec. Vis alia epicuri an,
            dicit iracundia te mel. Ei dicunt nusquam pericula pro.
          </li>
        </ul>
      </div>
    </div>
    <div class="server-members">
      <h2>Members Online</h2>
      <ul>
        <li>Member1</li>
        <li>Member2</li>
        <li>Member3</li>
        <li>Member4</li>
        <li>Member5</li>
        <li>Member6</li>
        <li>Member7</li>
        <li>Member8</li>
        <li>Member9</li>
        <li>Member10</li>
        <li>Member12</li>
        <li>Member13</li>
        <li>Member14</li>
        <li>Member15</li>
        <li>Member16</li>
      </ul>
    </div>
    <footer>
      <i class="fa-regular fa-copyright"></i>
      <h3>2023 MzM Gaming | All rights reserved</h3>
    </footer>
  </div>
</div>
