<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap" rel="stylesheet">

<div class="hero-pg">
  <img src="assets/rust-header.jpg" alt="rust-img">
  <div class="sub-hero">
    <div class="section-info">
      <div class="server-info">
        <h2>MzM [EU/TR] PvE Server</h2>
        <p>The journey started back in 2018 when we decided to open a server just for fun to play around with one simple goal: To create a friendly community and strong connection between players and staff members.</p>
        <br>
        <p>Our server offers you unique experiences and also custom-developed plugins which you will never find on any other server!</p>
        <br>
        <p>Stay seated, connect to one of our servers and come to experience the crazy ride with us!</p>
      </div>
      <div class="server-rules">
        <h2>Main Features</h2>
        <ul>
          <li>Very active, friendly, and helpful community, including owners & staff members.</li>
          <li>Looting, killing, and raiding are fully disabled.</li>
          <li>Bronze/Silver/Gold ranks for players who support the server, including queue bypass.</li>
        </ul>
      </div>
    </div>
    <div class="server-members">
      <h2>Members Online</h2>
      <ul>
        <li>Member1</li>
        <li>Member2</li>
        <li>Member3</li>
        <li>Member4</li>
        <li>Member5</li>
        <li>Member6</li>
        <li>Member7</li>
        <li>Member8</li>
        <li>Member9</li>
        <li>Member10</li>
        <li>Member12</li>
        <li>Member13</li>
        <li>Member14</li>
        <li>Member15</li>
        <li>Member16</li>
      </ul>
    </div>
    <footer>
      <i class="fa-regular fa-copyright"></i>
      <h3>2023 MzM Gaming | All rights reserved</h3>
    </footer>
  </div>
</div>
