<div class="section-info">
  <div class="server-info">
  <h2>MzM [EU/TR] PvE Server</h2>
  <p>Lorem ipsum dolor sit amet, at nibh equidem vim, eum at ornatus maluisset intellegam. Inermis nominavi vix te, mea nulla quaerendum instructior ut.
    Cu has novum doctus aperiri, latine integre labores sed et, id novum democritum nec. Vis alia epicuri an, dicit iracundia te mel. Ei dicunt nusquam pericula pro.
  </p>
</div>
<div class="server-rules">
  <h2>Server Rules</h2>
  <ul>
    <li>Lorem ipsum dolor sit amet, at nibh equidem vim, eum at ornatus maluisset intellegam. Inermis nominavi vix te, mea nulla quaerendum instructior ut.
      Cu has novum doctus aperiri, latine integre labores sed et, id novum democritum nec. Vis alia epicuri an, dicit iracundia te mel. Ei dicunt nusquam pericula pro.</li>
    <li>Lorem ipsum dolor sit amet, at nibh equidem vim, eum at ornatus maluisset intellegam. Inermis nominavi vix te, mea nulla quaerendum instructior ut.
      Cu has novum doctus aperiri, latine integre labores sed et, id novum democritum nec. Vis alia epicuri an, dicit iracundia te mel. Ei dicunt nusquam pericula pro.</li>
  </ul>
</div>
</div>
<!--<div>
  <h2>Members Online</h2>
  <li><img src="assets/discord_.png " alt="discord-members">Member1</li>
  <li><img src="assets/discord_.png " alt="discord-members">Member2</li>
  <li><img src="assets/discord_.png " alt="discord-members">Member3</li>
  <li><img src="assets/discord_.png " alt="discord-members">Member4</li>
  <li><img src="assets/discord_.png " alt="discord-members">Member5</li>
  <li><img src="assets/discord_.png " alt="discord-members">Member6</li>
  <li><img src="assets/discord_.png " alt="discord-members">Member7</li>
  <li><img src="assets/discord_.png " alt="discord-members">Member8</li>
  <li><img src="assets/discord_.png " alt="discord-members">Member9</li>
  <li><img src="assets/discord_.png " alt="discord-members">Member10</li>
</div>-->
<footer>
  <i class="fa-regular fa-copyright"></i>
  <h3>2023 MzM Gaming | All rights reserved</h3>
</footer>
